[Desktop Entry]
Name=Antigravity
Comment=Experience liftoff
GenericName=Agentic Platform
Exec={{ .chezmoi.homeDir }}/.local/share/mise/installs/http-antigravity/latest/antigravity %U
Icon={{ .chezmoi.homeDir }}/.local/share/icons/antigravity.png
Type=Application
StartupNotify=false
StartupWMClass=Antigravity
Categories=Development;Utility;
